<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go</title>
    <link rel="stylesheet" href="/static/dist/styles.css?{{ .now }}">
</head>
<body>

{{ .loginCompleted }}

<div class="container mt-5">
    <h1 id="site-heading">Hello, world!</h1>
    <a href="/sign_up">Sign up</a>
    <a href="/sign_in">Sign in</a>

    {{ range .users }}
    <div class="card text-white bg-primary my-3">
        <div class="card-body">
            {{ .Name }}
        </div>
    </div>
    {{ end }}
</div>

<script src="/static/dist/index.js?{{ .now }}"></script>

</body>
</html>